.container {
    padding: 10px 16px 24px 16px;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ocultar{
    display: none;
}
body{
    margin: 0;
    padding: 0;
}

.col-1{
    width: 8.3%;
}
.col-11{
    width: calc( 8.3% * 11);
}
.col-12{
    width: calc( 8.3% * 12);
}
.f-right{
    float: right;
}

li {
    background-color: #0000EC;
    padding: 15px 15px 15px 10px;
    color: #ffffff;
    font-family: "menu";
    font-size: 16px;
    width: 295px;
    margin-left: -16px;
}
ul {
    position: absolute;
    margin: 0;
    padding: 5px 0 0 0;
}

li a {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}
